@import "base"



// HEAD =====================================================
#head
	padding:
		top: 56px

.face-img
	position: relative
	display: block
	float: right
	&::before
		position: absolute
		display: inline-block
		content: ''
		background: url("../svg/comment.svg") 0 0 no-repeat
		top: -20px
		left: -20px
		width: 50px
		height: 50px


//===========================================================/


// TEXT ======================================-==============
#text
	padding-bottom: 100px

//===========================================================/


//FOOTER=====================================================

//===========================================================/
 

// ВСЕГДА В	КОНЦЕ ===========================================
//===========================================================/
@import "media"
